<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="localeDAOImpl" class="impl.LocaleDAOImpl">
		<property name="driver" value="org.postgresql.Driver"/>
		<property name="url" value="jdbc:postgresql://localhost:5432/ChefYourself"/>
		<property name="username" value="postgres"/>
		<property name="password" value="chefyourself"/>
	</bean>
	
	<bean id="recipesDAOImpl" class="impl.RecipesDAOImpl">
		<property name="driver" value="org.postgresql.Driver"/>
		<property name="url" value="jdbc:postgresql://localhost:5432/ChefYourself"/>
		<property name="username" value="postgres"/>
		<property name="password" value="chefyourself"/>
		<property name="ldi" ref="localeDAOImpl"/>
		<property name="tcdi" ref="cuisinesDAOImpl"/>
		<property name="tmdi" ref="methodsDAOImpl"/>
	</bean>
	
	<bean id="ingredientsDAOImpl" class="impl.IngredientsDAOImpl">
		<property name="driver" value="org.postgresql.Driver"/>
		<property name="url" value="jdbc:postgresql://localhost:5432/ChefYourself"/>
		<property name="username" value="postgres"/>
		<property name="password" value="chefyourself"/>
		<property name="ldi" ref="localeDAOImpl"/>
	</bean>
	
	<bean id="methodsDAOImpl" class="impl.MethodsDAOImpl">
		<property name="driver" value="org.postgresql.Driver"/>
		<property name="url" value="jdbc:postgresql://localhost:5432/ChefYourself"/>
		<property name="username" value="postgres"/>
		<property name="password" value="chefyourself"/>
		<property name="ldi" ref="localeDAOImpl"/>
	</bean>
	
	<bean id="cuisinesDAOImpl" class="impl.CuisinesDAOImpl">
		<property name="driver" value="org.postgresql.Driver"/>
		<property name="url" value="jdbc:postgresql://localhost:5432/ChefYourself"/>
		<property name="username" value="postgres"/>
		<property name="password" value="chefyourself"/>
		<property name="ldi" ref="localeDAOImpl"/>
	</bean>
	
	<bean id="recipeDescriptionsDAOImpl" class="impl.RecipeDescriptionsDAOImpl">
		<property name="driver" value="org.postgresql.Driver"/>
		<property name="url" value="jdbc:postgresql://localhost:5432/ChefYourself"/>
		<property name="username" value="postgres"/>
		<property name="password" value="chefyourself"/>
		<property name="trdi" ref="recipesDAOImpl"/>
	</bean>
	
	<bean id="recipeIngredientsDAOImpl" class="impl.RecipeIngredientsDAOImpl">
		<property name="driver" value="org.postgresql.Driver"/>
		<property name="url" value="jdbc:postgresql://localhost:5432/ChefYourself"/>
		<property name="username" value="postgres"/>
		<property name="password" value="chefyourself"/>
		<property name="trdi" ref="recipesDAOImpl"/>
		<property name="tidi" ref="ingredientsDAOImpl"/>
	</bean>
	
<!-- 	<bean id="algo" class="com.teithe.chefyourself.Algorithm"> -->
<!-- 		<property name="trdi" ref="recipesDAOImpl"/> -->
<!-- 	</bean> -->
	
	

</beans>